<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @paper.title %>
</p>

<p>
  <b>Author:</b>
  <%= @paper.author.name %>
</p>

<p>
  <b>File:</b>
  <%= @paper.file %>
</p>

<p>
  <b>Demo:</b>
  <%= @paper.demo %>
</p>

<!-->
<table>
<% Question.find_by_paper_id(@paper.id) do |question| %>
  	<tr>
    	<td><%= question %></td>
    	<td><%= link_to 'Show', question %></td>
    	<td><%= link_to 'Edit', edit_question_path(question.object_id) %></td>
    	<td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
<% end %>
</table>

<%= link_to 'New Question', new_question_path(@paper_id)%>
-->
<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
